* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  margin: 10;
  padding: 15;
}

html {
  background-color: lightslategrey;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
}

header {
  display: flex;
  flex-direction: row;
  font-size: x-large;
  font-weight: bolder;
  justify-content: center;
  color: ghostwhite;
}

footer {
  font-size: xx-small;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgb(68, 68, 68);
  font-weight: bold;
  font-size: larger;
  text-decoration: unset;
}

a {
  color: lightblue;
  text-decoration: none;
}

a:visited {
  color: darkcyan;
}

a:hover {
  color: lightseagreen;
}
h2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: xx-large;
}

h3 {
  display: flex;
  justify-content: center;
  font-size: larger;
}

h4 {
  display: flex;
  justify-content: center;
  font-size: large;
  padding: 10px;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: square;
}

.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#all-projects {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-column-gap: 1em;
  line-height: 1.618em;
  /* box-sizing: border-box; */
}

#all-projects article {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: #ccc;
  line-height: 1.618em;
  margin: 0;
  padding: 0;
}

#all-projects img {
  width: 75px;
  padding: 5px;
}

#about-text {
  margin-left: 1rem;
  margin-right: 1rem;
}

#headshot {
  height: 200px;
}

#cutline {
  font-size: x-small;
}

#social-links {
  display: flex;
  justify-content: center;
}

#nb {
  display: flex;
  justify-content: center;
  font-size: smaller;
}
