* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 2;
    padding: 5;
}

html {
    background-color: lightslategrey
}

body {
    width: 100%;
}

h1 {
    align-content: space-between;
}

a {
    color: aliceblue;
    box-shadow: antiquewhite;
}

nav {
    display: flex;
    justify-content: space-around;
}

.about-me {
    display: grid;
}

.contact-info {
    display: grid;
}

.skills-list {
    display: grid;
    grid-template-columns: 10rem auto;
    grid-template-rows: 1fr 4 fr 4fr 1fr;
    margin: 2rem auto;
    width: 500px;
}

ul {
    list-style: square;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 3;
}

#about-hed {
    font-size: 30px;
}

#Luna {
    width: 35%;
    padding-top: 1%;
    border-radius: 50%;
}

.fa-linkedin-in .fa-github-square {
    display: flex;
    flex-direction: column;
    width: 50%;
}

#projects {
    display: flex;
    flex-wrap: nowrap;
}

#projects-hed {
    font-size: 30px;
    padding-right: 2%;
}

#pizzapie {
    display: flex;
    flex-direction: column;
    width: 10%;
    height: auto;
}

#website-screen  { 
    display: flex;
    flex-direction: column;
    width: 10%;
    height: auto;
}
#virtual-pet {
    display: flex;
    flex-direction: column;
    width: 10%;
    height: auto;
    align-content: center;
}
footer {
    font-size: x-small;
}
/* p {
    background-color: black;
    color: white;
} /*
